.App {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  /* min-height: 0; */
  /* min-width: 0; */
  box-sizing: border-box;
}

/* .scrollable div {
  min-height: 0;
  min-width: 0;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
